<div class="product-card-container p-3 border round-md">
    <div class="card-body w-100">
        <img src="{{data?.images![0]}}" alt="">
        <div class="card-footer">
            <div>
                <p class="bold">{{data?.name}}</p>
                <span
                    class="bold">{{this.currencyService.currentCurency().symbol}}<span>{{descountedPrice}}</span></span>
                @if(data?.discount){
                <span
                    class="bold deleted mx-2">{{this.currencyService.currentCurency().symbol}}<span>{{this.data?.price}}</span></span>
                }

            </div>

            <app-rating [readOnly]="true" [value]="data?.rating!"></app-rating>

        </div>
    </div>
    @if (this.data?.discount) {
        <span id="discount-value">{{data?.discount?.value}}%</span>
    }

</div>