.container a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  line-height: 2px;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 1px;
}
.container a:hover {
  color: var(--lightGreen);
}
