.notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    border-radius: 5px;
    position: fixed;
    top: 30px;
    right: 10px;
    
}