<div class="container">
  <app-section [borderBottom]="true" [tittle]="'add product'"></app-section>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="row form-container">
      <div class="col-md-12 col-lg-6 border round-md py-3 direction-y gap-4">
        <!-- NAME -->
        <div class="input-container">
          <div class="d-flex info">
            <i class="requared">*</i>
            <label class="nowrap" for="name">{{ "name" | translate }}</label>
          </div>
          <input
            class="input-light"
            placeholder="{{ 'name' | translate }}"
            type="text"
            formControlName="name"
          />
          <app-form-error
            [formControl]="this.productForm.controls.name"
            [errorId]="3"
          ></app-form-error>
        </div>
        <!-- PRICE AND MANUFACTURER -->
        <div class="d-flex gap-3">
          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="price">{{
                "price" | translate
              }}</label>
            </div>
            <input
              class="input-light"
              placeholder="{{ 'price' | translate }}"
              type="price"
              formControlName="price"
            />
            <app-form-error
              [formControl]="this.productForm.controls.price"
              [errorId]="2"
            ></app-form-error>
          </div>

          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="price">{{
                "manufacturer" | translate
              }}</label>
            </div>
            <p-dropdown
              [options]="this.manufacturerServcie.manufacturers"
              formControlName="manufacturer"
              optionLabel="name"
              [loading]="this.manufacturerServcie.isLoading"
              [filter]="true"
              filterBy="name"
              placeholder="select a manufacturer"
            />
            <app-form-error
              [formControl]="this.productForm.controls.manufacturer"
              [errorId]="2"
            ></app-form-error>
          </div>
        </div>
        <!-- CATEGORY AND OPTIONS -->
        <div class="d-flex gap-3">
          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="category">{{
                "category" | translate
              }}</label>
            </div>
            <p-dropdown
              [options]="this.categoryService.allCategories"
              formControlName="category"
              optionLabel="name"
              [loading]="this.categoryService.isLoading"
              [filter]="true"
              filterBy="name"
              placeholder="select a category"
            />
            <app-form-error
              [formControl]="this.productForm.controls.category"
              [errorId]="2"
            ></app-form-error>
          </div>

          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="options">{{
                "options" | translate
              }}</label>
            </div>
            <p-multiSelect
              [options]="this.optionService.options"
              formControlName="options"
              optionLabel="{{ ['name'] }}"
              placeholder="{{ 'select options' | translate }}"
              [loading]="this.optionService.isLoadingOptions"
              class="w-100"
            />
            <app-form-error
              [formControl]="this.productForm.controls.options"
              [errorId]="2"
            ></app-form-error>
          </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="input-container">
          <div class="d-flex info">
            <i class="requared">*</i>
            <label class="nowrap" for="description">{{
              "description" | translate
            }}</label>
          </div>
          <textarea
            class="input-light"
            style="min-height: 150px"
            placeholder="{{ 'description' | translate }}"
            type="text"
            formControlName="description"
          >
          </textarea>
          <app-form-error
            [formControl]="this.productForm.controls.description"
            [errorId]="2"
          ></app-form-error>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 border round-md">
        <div class="image-container">
          @for (item of this.imagesUrls; track $index) {
          <img class="preview-image" [src]="item" alt="test" />
          }
          <app-file-uploder
            (selectFiles)="selectImages($event)"
          ></app-file-uploder>
        </div>
        <!-- SUBMIT BUTTON -->

        <div class="action">
          <app-solid-button
            [disabled]="this.productForm.invalid"
            [btnIcon] = "this.isEditMode ? 'bi bi-arrow-clockwise' :  'bi bi-save' "
            [tittle]="'add product'"
            [isLoading]="this.productService.loading"
          ></app-solid-button>
          <app-solid-button
            [tittle]="'show products'"
            [btnIcon]="'bi bi-list-nested'"
            routerLink="/ProductList"
          ></app-solid-button>
        </div>
      </div>
    </div>
  </form>
</div>
