<div class="container">
  <app-section [borderBottom]="true" [tittle]="'add product'"></app-section>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="row form-container">
      <div class="col-md-12 col-lg-6 border round-md py-3 direction-y gap-4">
        <!-- NAME -->
        <div class="input-container">
          <div class="d-flex info">
            <i class="requared">*</i>
            <label class="nowrap" for="name">{{ "name" | translate }}</label>
          </div>
          <input
            class="input-light"
            placeholder="{{ 'name' | translate }}"
            type="text"
            formControlName="name"
          />
        </div>
        <!-- PRICE AND MANUFACTURER -->
        <div class="d-flex gap-3">
          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="price">{{
                "price" | translate
              }}</label>
            </div>
            <input
              class="input-light"
              placeholder="{{ 'price' | translate }}"
              type="price"
              formControlName="price"
            />
          </div>

          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="price">{{
                "manufacturer" | translate
              }}</label>
            </div>
            <p-dropdown
              [options]="this.manufacturerServcie.manufacturers"
              formControlName="manufacturer"
              optionLabel="name"
              [loading]="this.manufacturerServcie.isLoading"
              [filter]="true"
              filterBy="name"
              placeholder="select a manufacturer"
            />
          </div>
        </div>
        <!-- CATEGORY AND OPTIONS -->
        <div class="d-flex gap-3">
          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="category">{{
                "category" | translate
              }}</label>
            </div>
            <p-dropdown
              [options]="this.categoryService.allCategories"
              formControlName="category"
              optionLabel="name"
              [loading]="this.categoryService.isLoading"
              [filter]="true"
              filterBy="name"
              placeholder="select a category"
            />
          </div>

          <div class="input-container w-50">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="options">{{
                "options" | translate
              }}</label>
            </div>
            <p-multiSelect
              [options]="this.optionService.options"
              formControlName="options"
              optionLabel="{{ ['name'] }}"
              placeholder="{{ 'select options' | translate }}"
              [loading]="this.optionService.isLoading"
              class="w-100"
            />
          </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="input-container">
          <div class="d-flex info">
            <i class="requared">*</i>
            <label class="nowrap" for="description">{{
              "description" | translate
            }}</label>
          </div>
          <textarea
            class="input-light"
            style="min-height: 150px"
            placeholder="{{ 'description' | translate }}"
            type="text"
            formControlName="description"
          >
          </textarea>
        </div>
      </div>
      <div
        class="col-md-12 col-lg-6 border round-md image-container"
      >
        @for (item of this.imagesUrls; track $index) {
        <img class="preview-image" [src]="item" alt="test" />
        }
        <app-file-uploder
          (selectFiles)="selectImages($event)"
        ></app-file-uploder>
        <!-- SUBMIT BUTTON -->

        <button
          class="solidBtn hilight mt-3"
          style="max-width: 140px;"
        >
          add product
        </button>
      </div>
    </div>
  </form>
</div>
