.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 81px);
  font-family: Arial, sans-serif;
}

.error-content {
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

p {
  font-size: 1.2em;
  margin: 20px 0;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #ff6f61;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff4c39;
}

.error-title {
  font-size: 2rem;
  color: #ff4c39;
}

@media only screen and (max-width: 512px) {
  .error-text {
    font-size: 1rem;
  }
  .error-title {
    font-size: 1.2rem;
  }
  .error-page {
    height: calc(100vh - 140px);
  }
}
