<div class="file-input-container hilight round-md">
  <div class="uploader">
    <div class="space-between gap-3 round-md cursor">
      <span class="fs-sm cursor">select your files here</span>
      @if(this.imagesUrls.length > 0){
      <i
        class="bi bi-arrow-clockwise fs-lg pointer btn-clear"
        pTooltip="{{ 'clear all files' | translate }}"
        (click)="clear()"
      ></i>
      } @else {
      <i class="bi bi-cloud-arrow-up fs-lg"></i>
      }
    </div>
    <input
      #input
      class="cursor"
      [multiple]="this.multiple"
      type="file"
      id="fileInput"
      (change)="onSelectFile($event.target)"
      accept="{{ this.fileType }}"
    />
  </div>
  @if (this.imagesUrls.length) {
  <div class="preview border round-md">
    @for (item of this.imagesUrls; track $index) {
    <div class="preview-item">
      <div class="btnClose hilight" (click)="removeItem(item)">
        <i class="bi bi-x-lg"></i>
      </div>
      <app-spinner [spin]="item.loading"></app-spinner>
      @if (!item.loading) {
      <img class="preview-image round-md" [src]="item.image" alt="test" />
      }
    </div>
    }
  </div>
  }
</div>
