.expand-container {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.sidebar-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  padding: 4px 0;
}
.sidebar-item span {
  letter-spacing: 1px;
  text-transform: capitalize;
}
.sidebar-item:hover {
  color: var(--lightGreen) !important;
}

.icon {
  width: 18px;
  object-fit: cover;
  fill: red;
}
.sidebar-item:hover {
  background-color: var(--lightGreen);
  color: white !important;
}
.active {
  background-color: var(--lightGreen);
  color: white !important;
}
