<div class="header-container p-3">
  <div class="logo pointer center-y gap-2">
    <img routerLink="/Home" src="../../assets/images/logo.png" alt="logo" />
    <div class="sidebar fs-lg" (click)="openSidebar()">
        <i class="bi bi-list"></i>
      </div>
  </div>
  <div class="searchbar">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="w-100 d-flex">
        <div style="width: 100%">
          <input
            class="w-100 searcInput"
            type="text"
            placeholder="{{ 'search...' | translate }}"
            formControlName="text"
          />
        </div>

        <div style="min-width: 80px">
          <button class="w-100">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="header-actions">
    <div class="center-y flex-end gap-4">
      <div class="menu">
        <i class="bi bi-person fs-xlg"></i>
        <app-menu [template]="profile"></app-menu>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATES FOR MANU -->
<ng-template #profile>
  <li class="dropdown-list-item direction-y">
    <span class="fs-md" href="">{{ "yor account" }}</span>
    <span class="fs-xsm nowrap">{{
      "Access account and manage orders" | translate
    }}</span>
    <div class="actions mt-3">
      <div>
        <button class="rectBtn" (click)="register()">
          <i class="bi bi-person-add"></i>
          <span>{{ "register" | translate }}</span>
        </button>
      </div>

      <div>
        <button class="rectBtn" (click)="login()">
          <i class="bi bi-lock"></i>
          <span>{{ "login" | translate }}</span>
        </button>
      </div>

      <div class="d-md-none">
        <span class="rectBtn">wishlist</span>
      </div>

      <div class="d-md-none">
        <span class="rectBtn">compare</span>
      </div>

      <div class="d-md-none">
        <app-currency [closeParent]="false" class="rectBtn"></app-currency>
      </div>

      <div class="d-md-none">
        <app-language-selector
          [closeParent]="false"
          class="rectBtn"
        ></app-language-selector>
      </div>
    </div>
  </li>
</ng-template>
