.move {
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .header-container {
    border-bottom: var(--border);
  }
  
  .searchbar input {
    padding: 9px 12px;
    border: var(--border);
    outline: none;
    border-radius: 20px 0 0 20px;
  }
  
  .searchbar button {
    padding: 9px;
    border-radius: 0 20px 20px 0;
    border: var(--border);
    background-color: black;
    color: white;
  }
  
  .searchbar button:hover {
    background-color: var(--lightGreen);
    transition: 0.2s;
  }
  .sidebar {
    display: block !important;
    margin-left: 40px;
  }
  .dropdown-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  @media only screen and (max-width: 767px) {
    .selectors {
      display: flex !important;
    }
    .header-container {
      grid-template-areas:
        "logo icons icons icons icons icons"
        "searchbar searchbar searchbar searchbar searchbar searchbar" !important;
    }
    .togglecategories {
      display: block !important;
      font-weight: bold;
      font-size: var(--lg);
    }
  }
  
  @media only screen and (max-width: 990px) {
    .searcInput {
      border-radius: 20px 0 0 20px;
    }
    .searchbar-categories {
      display: none;
    }
    .sidebar {
      display: block !important;
    }
    #cart-tittle {
      display: none;
    }
  }
  
  .actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 34px;
    grid-gap: 10px;
  }
  .header-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "logo searchbar searchbar searchbar searchbar icons";
    grid-gap: 15px;
  }
  .logo {
    grid-area: logo;
  }
  
  .searchbar {
    grid-area: searchbar;
  }
  .header-actions {
    grid-area: icons;
  }
  
  .menu-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(149, 191, 70, 0.9);
    color: white;
  }
  .header-container a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    line-height: 2px;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .sidebar-main-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(45, 45, 45, 0.3);
    z-index: 9999;
    display: none;
  }
  .sidebar-container {
    width: 250px;
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    background-color: white;
    transition: left 2s;
  }
  .show-sidebar {
    left: 0;
  }
  .sidebar-header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .sidebar-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .sidebar-item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 18px;
  }
  .sidebar-item a {
    text-decoration: none !important;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: black;
  }
  .sidebar-item:hover * {
    color: var(--lightGreen) !important;
  }
  