.mian-container {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

@media only screen and (max-width: 767px) {
  #linkmenu,
  #topoffer,
  #categories {
    display: none;
  }
  #caroucel {
    width: 100%;
  }
}
@media only screen and (max-width: 993px) {
  #categories {
    display: none;
  }
  #caroucel {
    width: 100%;
    height: 200px !important;
  }
}
