<div class="main-container">
    <div class="space-between" (click)="expand()">
      <div class="sidebar-item space-between px-3">
        <div class="d-flex gap-3">
          <i class="{{ data.image }}"></i>
          <span>{{ data.name }}</span>
        </div>
        @if (data.subCategories?.length) {
        <i #arrow class="bi bi-chevron-down arrow"></i>
        }
      </div>
    </div>
    @if (this.isOpen) {
    <div class="expand-container py-2 round-sm" [@expandCollapse]>
      @for (item of data.subCategories; track $index) {
        <div
        #el
          [ngClass]="item.isActive ? 'active' : ''"
          class="sidebar-item fs-sm px-4"
          (click)="onItemClick(item, el)"
        >
          <i class="{{ item.image }}"></i>
          <span>{{ item.name }}</span>
        </div>
      }
    </div>
    }
  </div>
  