.top-offer-container {
  background-color: var(--gray);
  width: 100%;
  padding: 7px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  line-height: 20px;
  width: 100%;
  letter-spacing: 0.6px;
}

.dropdown-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 4px;
}

.dropdown-list-item :hover {
  color: var(--lightGreen);
}

@media only screen and (max-width: 767px) {
    .top-offer-container {
      display: none;
    }
  }
  
