<div class="container">
    <div class="border mt-3 px-2 pb-3  round-md">
        <app-section [tittle]="'new customer'" [borderBottom]="true"></app-section>
        <span class="fs-sm">{{"By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made."}}</span>
        <button routerLink="/Register" class="solidBtn capitalize hilight mt-2">{{'register' | translate}}</button>
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-container border p-2 pb-3 mt-3 round-md">
            <app-section [tittle]="'customer'" [borderBottom]="true" [subSection]="true"></app-section>
            <div class="input-container">
                <div class="d-flex info">
                    <i class="requared">*</i>
                    <label class="nowrap" for="email">{{'email' | translate}}</label>
                </div>
                <input class="input-light" placeholder="{{'email' | translate}}" type="email" formControlName="email">
            </div>
            <div class="input-container">
                <div class="d-flex info">
                    <i class="requared">*</i>
                    <label class="nowrap" for="password">{{'password' | translate}}</label>
                </div>
                <input class="input-light" placeholder="{{'password' | translate}}" type="password" formControlName="password">
            </div>
            <div>
                <a class="link flex-end" routerLink="/Home">{{'forget password' | translate}}</a>
            </div>
            <div class="d-flex flex-start">
                <button class="solidBtn capitalize hilight">
                    {{'login' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>