<div class="container">
  <div class="border mt-3 px-2 pb-3 round-md">


    <app-section [tittle]="'new customer'" [borderBottom]="true"></app-section>
    <span class="fs-sm">{{
      "By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the
      orders you have previously made."
      }}</span>
    <button routerLink="/Register" class="solidBtn capitalize hilight mt-2">
      {{ "register" | translate }}
    </button>
  </div>
  <div class="form-container border p-2 pb-3 mt-3 round-md">
    <app-dynamic-form [form]="loginForm!" [url]="url" (submit)="login($event)"></app-dynamic-form>
  </div>
</div>