/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@font-face {
  font-family: "FiraGO";
  src: url("../node_modules/@fontsource/firago/files/firago-latin-400-normal.woff")
      format("woff2"),
    url("../node_modules/@fontsource/firago/files/firago-latin-400-italic.woff")
      format("woff"),
    url("../node_modules/@fontsource/firago/files/firago-latin-600-normal.woff")
      format("woff")
      url("../node_modules/@fontsource/firago/files/firago-latin-600-italic.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Mark GEO";
  src: url("https://db.onlinewebfonts.com/t/2211f33c5285ef3978e258240b60637b.eot");
  src: url("https://db.onlinewebfonts.com/t/2211f33c5285ef3978e258240b60637b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/2211f33c5285ef3978e258240b60637b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/2211f33c5285ef3978e258240b60637b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/2211f33c5285ef3978e258240b60637b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/2211f33c5285ef3978e258240b60637b.svg#Mark GEO")format("svg");
} */

* {
  font-family: "FiraGO", sans-serif;
  /* font-family: 'Mark GEO ', sans-serif; */
}
:root {
  --gray: #f5f5f5;
  --lightGray: #f6f4f5;
  --lightGreen: #95bf46;
  --disabled: #d5efa4;
  --disabled-gray: #878984;
  --shadow: 0 0px 5px rgba(0, 0, 0, 0.175);
  --hilight: rgba(149, 191, 70, 1) 0px 4px 36px 0px,
    rgba(149, 191, 70, 1) 0px 0px 0px 1px;
  --border: 1px solid #e7e7e7;
  --light-border: 1px solid rgba(231, 231, 231, 0.6);
  --xsm: 0.7rem;
  --sm: 0.9rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xlg: 2rem;
  --xxlg: 3rem;
  --screen-sm: 767px;
  --screen-md: 993px;
  --p-sm: 8px;
  --p-lg: 8px;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;;
  /* Adjust scrollbar width */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
  /* Set track background color */
  border-radius: 6px;
  /* Add rounded corners */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(122, 121, 121, 0.2);
  /* Set thumb background color */
  border-radius: 6px;
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightGreen);
  /* Change color on hover */
}

.container {
  box-sizing: border-box;
}

@media only screen and (max-width: 993px) {
  .container {
    max-width: 100% !important;
  }

  .section h4 {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 512px) {
  .action {
    flex-direction: column;
  }
  .action button {
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    /* Adjust scrollbar width */
  }

  /* ---- GRID ----- */
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 5px !important;
  }
}

/* ------------- DISPLAY ----------- */
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.direction-y {
  display: flex;
  flex-direction: column;
}

/* ------------ Spacing ------------ */
.gap-6 {
  gap: 2rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 3rem;
}

.form-container {
  padding: 20px !important;
}

.h-100 {
  height: 100%;
}

/* ------------ Text ------------ */

.nowrap {
  text-wrap: nowrap;
}

.fs-xsm {
  font-size: var(--xsm);
}

.fs-sm {
  font-size: var(--sm);
}

.fs-md {
  font-size: var(--md);
}

.fs-lg {
  font-size: var(--lg);
}

.fs-xlg {
  font-size: var(--xlg);
}

.fs-xxlg {
  font-size: var(--xxlg);
}

.bold {
  font-weight: 600;
}

.deleted {
  text-decoration: line-through;
  color: var(--disabled-gray);
}

.text-cian {
  color: rgba(53, 184, 201, 0.6);
}

span {
  text-transform: capitalize;
}
.requared {
  font-size: 16px !important;
  color: red;
  font-weight: 600;
  padding-right: 6px;
}
.text-error {
  color: red;
  font-size: 12px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------ INPUT ----- */

.input-light {
  min-width: 100px;
  width: 100%;
  outline: none;
  border: var(--border);
  border-radius: 4px;
  padding: 8px 16px;
}
.form-container input:focus {
  border: 1px solid var(--lightGreen);
}
.form-container select:focus {
  border: 1px solid var(--lightGreen);
}

/* ------------ Other ------------ */
.pointer {
  cursor: pointer;
}

.menu {
  cursor: pointer;
  padding: 0 !important;
}

.bage {
  border-radius: 50%;
  background-color: var(--lightGreen);
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize !important;
}

/* -------LINK-------- */
.link {
  text-decoration: none;
  color: rgb(122, 176, 21);
}
.link:hover {
  text-decoration: none;
  color: var(--lightGreen);
}

/* ------- SELECT --------= */

select {
  border: var(--border);
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../src/assets/icons/navigation/chevron-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 12px top 50%, 0 0;
  background-size: 0.9em auto, 100%;
  min-width: 150px;
}

/* ---------- BUTTONS ---------- */
.rectBtn {
  outline: none;
  background-color: white;
  border: var(--border);
  border-radius: 2px;
  transition: 0.3s;
  padding: 4px 12px;
  min-width: 145px;
  min-height: 35px;
  display: flex;
  gap: 3px;
  flex-wrap: nowrap;
  align-items: center;
  font-size: var(--sm);
  width: 100%;
}

.solidBtn {
  outline: none;
  border-radius: 6px;
  transition: 0.3s;
  padding: 5px 16px;
  background-color: var(--lightGreen);
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}
.solidBtn:active {
  transform: scale(0.95);
}

.iconBtn {
  outline: none;
  border: var(--border);
  border-radius: 4px;
  background-color: white;
  width: 35px;
  height: 35px;
  font-size: 17px;
  position: relative;
}

.iconBtn:hover {
  background-color: var(--lightGreen);
  color: white;
}

.hilight {
  transition-duration: 0.5s;
}
.hilight:active {
  box-shadow: var(--hilight);
  transition: all 0s !important;
}
.animate-rotate {
  transition: transform 0.3s ease;
  transform: rotate(360deg);
}
.reverse-rotate {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

/* BORDERS */
.light-border {
  border: var(--light-border);
}

.round-sm {
  border-radius: 4px;
}

.round-md {
  border-radius: 10px;
}

.round-lg {
  border-radius: 16px;
}

.hover:hover {
  color: var(--lightGreen);
}

/* ----IMAGE----- */
.preview-image {
  width: 160px;
  height: 167px;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: var(--border);
}
.thumb {
  max-width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}

.action {
  display: flex;
  gap: 20px;
}

/* -----PRIMANGE---- */
/* multiselect */
.p-multiselect * {
  font-size: 1rem;
  outline: none;
}
.p-multiselect {
  width: 100%;
}
.p-multiselect:hover {
  border-color: var(--lightGreen);
}
.p-focus {
  border-color: var(--lightGreen);
  box-shadow: none;
}
.p-multiselect-filter-container input:focus {
  box-shadow: none;
  border-color: var(--lightGreen);
}
.p-multiselect-filter-container input:hover {
  border-color: var(--lightGreen);
}
.p-multiselect ul {
  padding: 0 !important;
}
.p-multiselect-label {
  padding: 0.5rem 1rem;
}
.p-multiselect-filter-container input {
  padding: 0.2rem 0.9rem;
}

/* dropdown */
.p-dropdown {
  width: 100%;
}
.p-dropdown:hover {
  border: 1px solid var(--lightGreen);
}
.p-inputtext {
  padding: 0.5rem 1rem;
}
.p-dropdown-items {
  padding: 0 !important;
}
.p-dropdown-item{
  padding: 8px 20px !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: inherit;
}
.p-dropdown-filter-container input {
  padding: 0.2rem 0.9rem;
}
.p-dropdown-filter-container input:focus {
  box-shadow: none;
  border-color: var(--lightGreen);
}
.p-dropdown-filter-container input:hover {
  border-color: var(--lightGreen);
}

/* ----CHECKBOX----- */

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--lightGreen);
  background: var(--lightGreen);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: var(--lightGreen);
}

/* -----TABLE----- */
.p-datatable-table {
  text-transform: capitalize;
}
.p-paginator-pages button {
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}
.p-paginator-pages .p-inputtext {
  padding: 0 !important;
}
.p-highlight {
  color: white !important;
  background-color: var(--lightGreen);
}
.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 20px;
}
.p-paginator .p-dropdown {
  margin-left: 0;
  margin-right: 0;
  height: 2.3rem;
}
.p-button-icon-only {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 50px;
}
.p-button-outlined {
  box-shadow: none;
}
.p-button {
  padding: 0.2rem 0.8rem;
  border-radius: 14px;
  margin: 2px;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: .5rem;
}
.p-datatable .p-datatable-thead > tr > th {
  padding: 7px;
}
.p-sortable-column-icon {
  color: black
}
.th-check {
  max-width:  2rem !important;
  display: inline-block;
}
.p-datatable-thead th {
  text-align: center;
}
.p-datatable-tbody td {
  text-align: center;
}
.table-action-icons {
  display: flex;
  flex-wrap: nowrap;
}
 

/* TOOLTIP */
.p-tooltip {
  transform: scale(0.5);
  animation: fadeIn 0.1s ease-out forwards;
  animation: scaleUp 0.1s ease-out forwards;
}


/* ------ ANIMATIONS ------- */
.animate-opacity {
  animation: animate-opacity .3s ease-out;
}
@keyframes animate-padding {
  0% {
    padding: 0;
  }
  100% {
    padding: 20px;
  }
}
@keyframes animate-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shadow-pulse:active {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: shadowPulse 0.8s ease-in-out;
}
@keyframes shadowPulse {
  0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.animate {
  transition: all 0.3s ease;
}
.animate:active {
  transform: scale(.98);
}
.popup {
  transform: scale(0.5);
  animation: fadeIn 0.1s ease-out forwards;
  animation: scaleUp 0.1s ease-out forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Scale-up animation for popup content */
@keyframes scaleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


