<div class="container">
  <app-section [borderBottom]="true" [tittle]="this.isEditMode ? 'update option type' : 'add option type'"></app-section>
  <form [formGroup]="this.optionTypeForm" (ngSubmit)="isEditMode ? updateOptionType() : addOptionType()">
    <div class="row form-container">
      <div class="col-12 border round-md py-3 direction-y gap-4">
        <!-- NAME -->
        <div class="input-container">
          <div class="d-flex info">
            <i class="requared">*</i>
            <label class="nowrap" for="name">{{ "name" | translate }}</label>
          </div>
          <input
            class="input-light"
            placeholder="{{ 'name' | translate }}"
            type="text"
            formControlName="name"
          />
          <app-form-error
            [formControl]="this.optionTypeForm.controls.name"
            [errorId]="2"
          ></app-form-error>
          <div class="action mt-3">
            <app-solid-button
              [disabled]="this.optionTypeForm.invalid"
              [btnIcon] = "this.isEditMode ? 'bi bi-arrow-clockwise' :  'bi bi-save' "
              [tittle]="this.isEditMode ? 'update option type' : 'add option type'"
              [isLoading]="this.optionService.loadinOptionTypes"
            ></app-solid-button>
            <app-solid-button
            [tittle]="'show options types'"
            [btnIcon]="'bi bi-list-nested'"
            routerLink="/OptionTypeList"
          ></app-solid-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
