<div class="container">
  <app-section
    [borderBottom]="true"
    [tittle]="this.isEditMode ? 'update option' : 'add option'"
  ></app-section>
  <form
    [formGroup]="this.optionForm"
    (ngSubmit)="this.isEditMode ? updateOption() : addOption()"
  >
    <div class="row form-container">
      <div class="col-12 border round-md py-3 direction-y gap-4">
        <!-- NAME -->
        <div class="input-container">
          <div class="d-flex info">
            <i class="requared">*</i>
            <label class="nowrap" for="name">{{ "name" | translate }}</label>
          </div>
          <input
            class="input-light"
            placeholder="{{ 'name' | translate }}"
            type="text"
            formControlName="name"
          />
          <app-form-error
            [formControl]="this.optionForm.controls.name"
            [errorId]="2"
          ></app-form-error>
        </div>
        <!-- VALUE -->
        <div></div>
        <div class="d-flex gap-3">
          <div class="input-container w-100">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="value">{{
                "value" | translate
              }}</label>
            </div>
            <input
              class="input-light"
              placeholder="{{ 'value' | translate }}"
              type="text"
              formControlName="value"
            />
            <app-form-error
              [formControl]="this.optionForm.controls.value"
              [errorId]="2"
            ></app-form-error>
          </div>

          <div class="input-container w-100">
            <div class="d-flex info">
              <i class="requared">*</i>
              <label class="nowrap" for="optionType">{{
                "optionType" | translate
              }}</label>
            </div>
            <div class="space-between gap-3">
              <p-dropdown
                class="w-100"
                [options]="this.optionService.optionTypes"
                formControlName="optionTypeId"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                placeholder="select a option type"
                [loading]="optionService.loadinOptionTypes"
              />
              <app-solid-button
                [label]="'add type'"
                [icon]="'bi bi-plus'"
                routerLink="/AddOptionType"
              ></app-solid-button>
            </div>

            <app-form-error
              [formControl]="this.optionForm.controls.optionTypeId"
              [errorId]="2"
            ></app-form-error>
          </div>
        </div>
        <div class="action">
          <app-solid-button
            [disabled]="this.optionForm.invalid"
            [icon]="this.isEditMode ? 'bi bi-arrow-clockwise' : 'bi bi-save'"
            [label]="this.isEditMode ? 'update option' : 'add option'"
            [loading]="this.optionService.isLoadingOptions"
          ></app-solid-button>
          <app-solid-button
            [label]="'show options'"
            [icon]="'bi bi-list-nested'"
            routerLink="/OptionList"
          ></app-solid-button>
        </div>
      </div>
    </div>
  </form>
</div>
